body{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}
.imageContainer{
    height: 90vh;
    width: 90vw;
    border-color: 2px solid  rgb(0, 0, 0);
    margin-bottom: 2vw;
}
.img{
    height: 95%;
    width: 100%;
    background-size: cover;
}
h3{
    text-align: center;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 2vw;
    border-color: 2px solid  rgb(0, 0, 0);
}

#img1{
    justify-content: top;
    background-image: url(./IMG/adrian-mag-OcCmoDlcHjs-unsplash.jpg);
}
#img2{
    justify-content: center;
    background-image: url(./IMG/annie-spratt-s_FOCJ51q1w-unsplash.jpg);
}
#img3{
    justify-content: center;
    background-image: url(./IMG/neom-4q87Z96NBYg-unsplash.jpg);
}
#img4{
    justify-content: center;
    background-image: url(./IMG/norbert-buduczki-gnU7b_XmDQ0-unsplash.jpg);
}
@media (min-width: 400px) {
    
    .imageContainer{
        height: 45vh;
        width: 45vw;
        border-color: solid 1px black;
        margin-bottom: 5%;
        border-color: 2px solid  rgb(0, 0, 0);
        
    }
    .img{
        height: 90%;
        width: 100%;
        background-size: cover;
    }
}
@media (min-width: 800px) {
    body {
        flex-wrap: nowrap;
      }
    .imageContainer{
        height: 20vw;
        width: 20vw;
        border-color: 2px solid  rgb(0, 0, 0);
        background-size: cover;
        margin: 2vw;
    }
    .img{
        height: 90%;
        width: 100%;
        background-size: cover;
    }
}